body{
  background-color: #0e1016;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Addpass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  margin-top: 30px;
}

.Addpass button,input{
  width:300px;
  height: 40px;
  border:none;
  border-radius: 7px;
  margin:10px;
  padding-left:15px;
  font-size: 17px;
}

button{
  cursor: pointer;
}

.Heading{
  display: flex;
  text-align: center;
  align-items: center;
  color: white;
  position: relative;
  margin-top: 40px;
  margin-left:590px;
  font-size: 30px;
}

.logut{
  margin-left: 510px;
}

.logut button{
  height: 30px;
  width: 70px;
}

.pp1{
  font-size: 20px;
}

.showPasswo{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
}

div{
  color: white;
  margin-bottom: 10px;
}

.passcode{
  width:400px;
  height:70px;
  background-color: grey;
  border-radius: 7px;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}